/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F6F8F9;
}

/* HEADER */
.main-title{
    display:inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 3rem;
}

.main-logo{
    display: inline-block;
    height: 75px;
    vertical-align: middle;
    padding-left: 50px;
}

.container{
    line-height: 100px;
    background-color: white;
}

/* MAIN INTERACTION */
.main-container1{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.interact-button{
    display: inline-block;
    background-color: red;
    border-radius: 7.5px;
    vertical-align: middle;
    font-size: 1.25rem;
    padding: 0 20px;
    line-height: 50px;
}

.task{
    background-color: #47ADF1;
    color: white;    
}

.task:hover{
    background-color: white;
    border: 1px solid #47ADF1;
    color: #47ADF1;
}

.section{
    background-color: white;
    border: 1px solid #D3D7DB;
    color: #D3D7DB;
    margin-left: 5px;
}

.section:hover{
    background-color: #D3D7DB;
    color: white;
}

.main-header{
    margin-left: 75px;
    padding-top: 10px;
    line-height: 100px;
}

.interaction-text{
    vertical-align: middle;
}

.main-container2{
    background-color: white;
    width: 70%;
    min-height: 500px;
    margin: auto;
    margin-top: 5px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-bottom: 100px;
}

.content-container{
    margin: 0 75px;
}

.list-title{
    padding-top: 50px;
}


.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #72C6B2;
    border: 2px solid #72C6B2;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
}

.wrong{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #c67272;
    border: 2px solid #c67272;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
}

.list-item{
    margin-top: 40px;
    vertical-align: middle;
    list-style: none;
    line-height: 20px;
    font-size: 1.5rem;
}

.badge{
    background-color: #000000;
    padding: 7px 15px;
    border-radius: 15px;
    color: white;
    margin-left: 7px;
    font-size: 1rem;
}

.editorial{
    background-color: #45ABEA;
}

.q1-goals{
    background-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
}
.website{
    background-color: #D863A1;
}
.sales{
    background-color: #B0C926;
}